@font-face {
   font-family: 'OpenSans';
   src:  url('./OpenSans-Light.ttf') format('ttf');
}

.hello {
  color: #fff;
  background: url('./dragonball.gif');
  font-family: OpenSans;
  font-size: 24px;
}
